/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Linder-et-al-2022 Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Currently supports AWS Batch, HPC with SLURM. and local
----------------------------------------------------------------------------------------
*/

nextflow.enable.dsl=2

manifest {
  description = 'A pipeline for reproducible analysis of the data presented in Linder et al. 2022 implemented with Nextflow' 
  author = 'Robert Linder'
  nextflowVersion = '>=22.10.1'
}

/* 
 * default params 
*/

params.haployptes = "$projectDir/assets/Jan2022.allhaps.txt.gz"
params.founders = "$projectDir/assets/Founder_names.txt"
params.snp_count = "$projectDir/assets/SNP.count.Dec28.txt.gz"
params.snp_freqs = "$projectDir/assets/SNP.freq.Dec28.txt.gz"
params.offsets = "$projectDir/assets/newoffsets.txt"
params.repeats = "$projectDir/assets/repeatpos2.txt"
params.helper = "$projectDir/assets/helper_functions.R"
params.metadata = "$projectDir/assets/sexual_paper_sample_metadata_revised.txt"
params.outdir = "$projectDir/results"

/* 
 * defines execution profiles for different environments  
 */ 

plugins {
    id 'nf-amazon'
}

docker {
        enabled = true
        runOptions = '-u $(id -u):$(id -g)'
}

profiles {

 standard {
    process.container = 'rlinder02/linder-et-al-2022:v1.1.0'
    process.executor = 'local'    
  }
  
  // when running aws batch, need to have a file in the bin directory, even if not actually using any extra scripts
  batch {
    process.container = 'rlinder02/linder-et-al-2022:v1.1.0'
    process.executor = 'awsbatch'
    process.queue = 'nextflow-queue'
    workDir = 's3://nextflow-linder-et-al-2022-workdir/test_env'
    aws.region = 'us-west-1'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    process.memory = '18GB'
    process.cpus = 6
  }

  slurm {
    process.container = 'rlinder02/linder-et-al-2022:v1.1.0'
    process.executor = 'slurm'
    singularity.enabled = true
    process.queue = 'standard'
  }
}

process {
    withName: MUT_FURTHER_ANNOTATE {
        container = 'quay.io/biocontainers/bioconductor-motifbreakr:2.12.0--r42hdfd78af_0'
    }
}